body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

h1 {
  color: #000000;
  margin-top: 150px;
  margin-left: 43%;
  font-weight: 500;
}

.form .form-login .password-login {
  margin-left: 43%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 7px;
  width: 210px;
  height: 28px;
  color: rgb(105, 105, 105);
}

.form .form-login .gmail-login {
  margin-left: 43%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 7px;
  width: 210px;
  height: 28px;
  color: rgb(105, 105, 105);
}

.form .form-login .submit-login {
  margin-left: 42.5%;
  margin-top: 40px;
  width: 230px;
  height: 32px;
  background-color: #2669AA;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 100;
}

.form .form-login input {
  display: block;
  margin-top: 32px;
  margin-bottom: 10px;
}

.form .forgotten-password {
  margin-left: 45%;
  font-size: 11px;
  text-decoration: none;
  color: #2669AA;
}

.nav-index {
  position: fixed;
  max-width: 100%;
  height: 55px;
  border-bottom: 1px solid #bebebe;
  position: relative;
  padding: 10px;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.options a {
  border-bottom: 1px solid #005EEC;
}
.options a:hover {
  color: #2d81d4;
}

.search .buscar-pacientes-input {
  width: 30%;
  height: 30px;
  border: 1px solid #3481F4;
  border: 1px solid #3481F4;
  margin-right: 10px;
}

.search .container-icon {
  margin-top: 2px;
  margin-left: 24.4%;
  position: absolute;
  background-color: #3481F4;
  width: 50px;
  height: 31px;
}
.search .container-icon .search-icon {
  padding-top: 2px;
  padding-left: 13px;
  position: absolute;
  margin-right: 40%;
  width: 54px;
  height: 35px;
  color: #ffffff;
}

.search .buttons-idk {
  margin-left: 50px;
  position: absolute;
  display: inline-block;
  width: 100px;
}
.search .buttons-idk .date {
  width: 120px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #3481F4;
  color: white;
  height: 30px;
}
.search .buttons-idk .A-Z {
  height: 30px;
  width: 120px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #3481F4;
  color: white;
}

.search .submit-index {
  margin-left: 220px;
  height: 30px;
  width: 120px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #3481F4;
  color: white;
}

.query .query-user {
  display: flex;
  display: flex;
  flex-direction: column;
}
.query .query-user .description {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  height: 100px;
}
.query .query-user .description .paciente-td {
  font-size: 20px;
  width: 10px;
  padding-left: 6%;
}
.query .query-user .description .fecha-td {
  width: 250px;
  font-size: 20px;
  padding-left: 280px;
}
.query .query-user .description .hora-td1 {
  font-size: 20px;
  padding-right: 150px;
}
.query .query-user .info-img {
  width: 250px;
  padding: 10px;
}
.query .query-user .user-name {
  margin-bottom: 10px;
}
.query .query-user .user-image {
  width: 100px;
  height: 100px;
  margin-top: 0px;
  margin-left: 60px;
  border-radius: 50px;
}
.query .query-user .info-img {
  width: 25px;
  padding: 10px;
}
.query .query-user .user-image {
  width: 100px;
  height: 100px;
  margin-top: 0px;
  margin-left: 60px;
  border-radius: 50px;
}
.query .query-user .name-id-td {
  width: 100%;
  position: absolute;
  height: 100px;
  margin-top: 23px;
}
.query .query-user .fecha-celda {
  position: absolute;
  width: 600px;
  height: 100px;
  margin-left: 325px;
  margin-top: 43px;
  font-size: 17px;
}
.query .query-user .user-name {
  font-size: 17px;
}
.query .query-user .user-id {
  font-size: 17px;
}
.query .query-user .hora-celda {
  position: absolute;
  margin-left: 55.6%;
  height: 80px;
  margin-top: 35px;
  font-size: 17px;
}

html {
  margin: 0;
  padding: 0;
}

.form .form-login {
  text-align: center;
}
.nav-index .info-doc span {
  height: 400px;
  font-size: 14px;
  margin-left: 87%;
}
.nav-index img {
  margin-left: 80%;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.options a {
  color: #000000;
  text-decoration: none;
}

.search {
  height: 110px;
  margin-top: 30px;
  margin-left: 13%;
}
.query {
  width: 100%;
  height: 500px;
}
.btn-atender {
  margin-left: 30px;
  background-color: #005EEC;
  width: 110px;
  height: 45px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #005EEC;
}

.comment-icon {
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
  color: #bebebe;
}

/*selecciona cualquier elemento que tenga un atributo id que comience con "chatbox" */
[id^=chatbox] {
  position: absolute;
  display: none;
  width: 120%;
  height: 320px;
  z-index: 1;
  right: 40%;
  top: 10px;
}

.close {
  cursor: pointer;
  color: red;
}

.header {
  background-color: #005EEC;
  width: 100%;
  height: 36%;
}

.info-user {
  width: 100%;
  height: 100%;
  display: flex;
}

.user-image-chat {
  width: 90px;
  height: 90px;
  border-radius: 90px;
}

.name-chat {
  margin-left: 30px;
  height: 50px;
  color: white;
  font-size: 17px;
}

.container-chat {
  margin: 10px;
  width: 340px;
  height: 70%;
  background-color: #bebebe;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

body {
  background-color: #f9f9fa;
}

.flex {
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}
.box.box-warning {
  border-top-color: #f39c12;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header {
  color: #444;
  padding: 10px;
  position: relative;
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
  content: " ";
  display: table;
}

.box-header {
  background-color: #005EEC;
  color: #444;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
  display: inline-block;
  font-size: 17px;
  margin: 0;
  line-height: 1;
}

.box-title {
  color: white;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 10;
}

.box-header > .box-tools [data-toggle=tooltip] {
  position: relative;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
  background-color: #f39c12 !important;
}

.bg-yellow {
  color: #fff !important;
}

.btn {
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid transparent;
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #ffffff;
}

.direct-chat .box-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  overflow-x: hidden;
  padding: 0;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
  content: " ";
  display: table;
}

.direct-chat-messages {
  transform: translate(0, 0);
  padding: 10px;
  height: 250px;
  overflow: auto;
}

.direct-chat-messages, .direct-chat-contacts {
  transition: transform 0.5s ease-in-out;
}

.direct-chat-msg {
  margin-bottom: 10px;
}

.direct-chat-msg, .direct-chat-text {
  display: block;
}

.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}

.direct-chat-timestamp {
  color: #999;
}

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " ";
}

.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}

.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: #d2d6de;
  border: 1px solid #d2d6de;
  margin: 5px 0 0 50px;
  color: #444;
}

.direct-chat-msg, .direct-chat-text {
  display: block;
}

.direct-chat-text:before {
  border-width: 6px;
  margin-top: -6px;
}

.direct-chat-text:after, .direct-chat-text:before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-right-color: #d2d6de;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
}

.direct-chat-text:after {
  border-width: 5px;
  margin-top: -5px;
}

.direct-chat-text:after, .direct-chat-text:before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-right-color: #d2d6de;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
}

:after, :before {
  box-sizing: border-box;
}

.direct-chat-msg:after {
  clear: both;
}

.direct-chat-msg:after {
  content: " ";
  display: table;
}

.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}

.right .direct-chat-img {
  float: right;
}

.direct-chat-warning .right > .direct-chat-text {
  background: #f39c12;
  border-color: #f39c12;
  color: #fff;
}

.right .direct-chat-text {
  margin-right: 50px;
  margin-left: 0;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
  content: " ";
  display: table;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}/*# sourceMappingURL=style.css.map */