body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

h1 {
  color: #000000;
  margin-top: 150px;
  margin-left: 43%;
  font-weight: 500;
}

.form .form-login .password-login {
  margin-left: 43%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 7px;
  width: 210px;
  height: 28px;
  color: rgb(105, 105, 105);
}

.form .form-login .gmail-login {
  margin-left: 43%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 7px;
  width: 210px;
  height: 28px;
  color: rgb(105, 105, 105);
}

.form .form-login .submit-login {
  margin-left: 42.5%;
  margin-top: 40px;
  width: 230px;
  height: 32px;
  background-color: #2669AA;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 100;
}

.form .form-login input {
  display: block;
  margin-top: 32px;
  margin-bottom: 10px;
}

.form .forgotten-password {
  margin-left: 45%;
  font-size: 11px;
  text-decoration: none;
  color: #2669AA;
}

.nav-index {
  position: fixed;
  max-width: 100%;
  height: 55px;
  border-bottom: 1px solid #bebebe;
  position: relative;
  padding: 10px;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.options a {
  border-bottom: 1px solid #005EEC;
}
.options a:hover {
  color: #2d81d4;
}

.search .buscar-pacientes-input {
  width: 30%;
  height: 30px;
  border: 1px solid #3481F4;
  border: 1px solid #3481F4;
  margin-right: 10px;
}

.search .container-icon {
  margin-top: 2px;
  margin-left: 24.4%;
  position: absolute;
  background-color: #3481F4;
  width: 50px;
  height: 31px;
}
.search .container-icon .fas {
  padding-top: 2px;
  padding-left: 13px;
  position: absolute;
  margin-right: 40%;
  width: 54px;
  height: 35px;
  color: #ffffff;
}

.search .buttons-idk {
  margin-left: 50px;
  position: absolute;
  display: inline-block;
  width: 100px;
}
.search .buttons-idk .date {
  width: 120px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #3481F4;
  color: white;
  height: 30px;
}
.search .buttons-idk .A-Z {
  height: 30px;
  width: 120px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #3481F4;
  color: white;
}

.search .submit-index {
  margin-left: 220px;
  height: 30px;
  width: 120px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #3481F4;
  color: white;
}

.query .query-user {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}
.query .query-user td {
  border-bottom: 1px solid #bebebe;
}
.query .query-user .info-img {
  width: 250px;
  padding: 10px;
}
.query .query-user .user-name {
  margin-bottom: 10px;
}
.query .query-user .user-image {
  width: 100px;
  height: 100px;
  margin-top: 0px;
  margin-left: 60px;
  border-radius: 50px;
}
.query .query-user td {
  border-bottom: 1px solid #bebebe;
}
.query .query-user .info-img {
  width: 250px;
  padding: 10px;
}
.query .query-user .user-name {
  margin-bottom: 10px;
}
.query .query-user .user-image {
  width: 100px;
  height: 100px;
  margin-top: 0px;
  margin-left: 60px;
  border-radius: 50px;
}

html {
  margin: 0;
  padding: 0;
}

.form .form-login {
  text-align: center;
}
.nav-index .info-doc span {
  height: 400px;
  font-size: 14px;
  margin-left: 87%;
}
.nav-index img {
  margin-left: 80%;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.search {
  height: 110px;
  margin-top: 30px;
  margin-left: 13%;
}
.query {
  width: 100%;
  height: 500px;
  border-top: 1px solid #bebebe;
}/*# sourceMappingURL=style.css.map */