<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>login</title>
  </head>
  <body>
    <h1>¡Bienvenido!</h1>
    <section class="form">
      <form class="form-login" action="/pacientes" method="post">
        <div class="inputs">
          <input class="password-login" placeholder="Contraseña" type="password" />
          <input class="gmail-login" placeholder="Correo electrónico" type="text" />
          <input class="submit-login" type="submit" value="Iniciar Sesión " />
        </div>
      </form>
      <a class="forgotten-password" href="">¿Has olvidado la Contraseña?</a>
    </section>
  </body>
</html>
