<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>login</title>
  </head>
  <body>
    <h1>¡Bienvenido!</h1>
    <section class="form-login">
      <form action="" method="post">
        <div class="inputs">
          <input class="password" placeholder="Contraseña" type="password" />
          <input class="gmail" placeholder="Correo electrónico" type="text" />
          <input class="submit" type="submit" value="Iniciar Sesión" />
        </div>
      </form>
    </section>
    <a class="forgotten-password" href="">¿Has olvidado la Contraseña?</a>
  </body>
</html>
